header {
  text-align: center;
}

main {
  margin: 20px;
}

li,
p {
  font-size: 20px;
}

button {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid black;
  color: black;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 16px;
}

/* Task 1 */
a:link {
  color: black;
}
a:visited {
  color: darkorchid;
}
a:hover {
  color: gold;
}
a:active {
  color: red;
}
/* Task 2 */
button:hover {
  color: blue;
  background-color: bisque;
}
button:active {
  color: darkgoldenrod;
  background-color: deeppink;
}
/* Task 3 */
.first-letter {
  color: rgb(204, 23, 23);
}
/* Task 4 */
p > span {
  color: rgb(105, 160, 91);
}
